.section {
  height: 100vh;
  display: flex; /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  position: relative; /* establish neares positioned ancenstor for absolute positioning */
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(251, 255, 0);
  font-weight: bold;
  font-size: 6rem;
  width: 100%;
  text-align: center;
}
