<nav class="navbar">
  <ul>
    <li><a [routerLink]="['home']" routerLinkActive="activebutton">Home</a></li>
    <li><a href="#">Menu</a></li>
    <li><a [routerLink]="['bookstore']" routerLinkActive="activebutton">BookStore</a></li>
    <li><a [routerLink]="['email']" routerLinkActive="activebutton">Email</a></li>
    <li><a href="#">Icons</a></li>
    <li><a routerLink="employees" routerLinkActive="activebutton">Employees Management</a></li>
    <li><a routerLink="bankAccounts" routerLinkActive="activebutton">Bank</a></li>
    <!-- <div class="search">
      <input type="text" name="search" id="search">
    </div> -->
  </ul>
</nav>
